.game {
  position: relative;
  width: 320px;
  height: 320px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.game-item {
  position: absolute;
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  background-color: #bb2020b0;
  border-radius: 5px;
  font-size: 30px;
  cursor: auto;
}

.game-item.success {
  background-color: #41ca26cc;
}

.game-item.empty {
  background-color: #ffffff00;
  border: 0;
  color: #00000000;
}

.reset-button {
  margin-top: 24px;
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
